html {
    box-sizing: border-box;
    font-family: Roboto;
}
* {
    margin: 0;
}

li {
    list-style: none;
}
ul{
    padding:0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
body{
    height: 7770px;
    background-color: grey;
}
header{
    padding: 14px 0;
}
.logo img{
    height: 34px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categories{
    display: flex;
    gap: 36px;
}
.categories__list {
    text-transform:uppercase;
    font-weight: 500;
    list-style-type: none;
}
.ul__a{
    text-decoration: none;
    color: black;
}
.divides{
    gap: 39px;
    text-transform:uppercase;
    display: flex;
}
.manadgment{
    display: flex;
    gap: 18px;
}
.user{
    display: flex;
    gap: 18px;
}